{{#each groceries}}
  {{#ifCond type "===" "Bakery"}}
    <div class="card" style="width: 18rem;">
      <div class="imgCont d-flex">
    <img class="card-img-top my-auto" src={{image}} alt={{name}} + " image">
      </div>
    <div class="card-body">
      <form class="addCart" action="/api/groceries" method="POST">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">Price: ${{price}}</p>
      <p class="card-text">In stock: {{inventory}}</p>
      <p class="id_cont" itemid={{id}}></p>
      <label for="amt">Amount: </label>
      <input type="number" id="amt" min="1" max={{inventory}} value="1"/>
      <button type="submit" class="btn btn-primary">Add to cart</a>
      </form>
    </div>
  </div>
  {{/ifCond}}
  {{/each}}

  <script>
    $(".addCart").on("submit", function(event) {
      event.preventDefault();
      var grocery = {
        id: $(".id_cont").itemid,
        amt: $("#amt").val()
      };
      console.log("grocery id: " + grocery.id);
      console.log("Amount: " + grocery.amt);
      console.log("AJAX begins");
    $.ajax("/api/groceries", {
      type: "POST",
      data: grocery
    }).then(
      function() {
        console.log("hopefully pushed some groceries to cart");
        location.reload();
      }
    )
    })
  </script>