{{#each groceries}}
  {{#ifCond type "===" "Meat & seafood"}}
    <div class="card" style="width: 18rem;">
      <div class="imgCont d-flex">
    <img class="card-img-top my-auto" src={{image}} alt={{name}} + " image">
      </div>
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">Price: $ {{price}}</p>
      <p class="card-text">In stock: {{inventory}}</p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
  {{/ifCond}}
  {{/each}}