{{#each groceries}}
  {{#ifCond type "===" "Produce"}}
    <div class="card" style="width: 18rem;">
      <div class="imgCont d-flex">
    <img class="card-img-top my-auto" src={{image}} alt={{name}} + " image">
      </div>
    <div class="card-body">
      <form class="wrap" data-id="{{id}}" data-inv="{{inventory}}">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">Price: ${{price}}</p>
      <p class="card-text">In stock: {{inventory}}</p>
      <label for="amt">Amount: </label>
      <input type="number" class="amt" min="1" max={{inventory}} value="1"/>
      <button class="btn btn-primary" type="submit">Add to cart</button>
      </form>
    </div>
  </div>
  {{/ifCond}}
  {{/each}}